<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Silence Studio </title>
</head>

<body>
    <div class="wrapper" id="app">
        <div class="header row between white" :class="{white_header:scrollFromTop>30}">
            <div class="logo column center pointer"><i class="fs35  fab fa-apple"></i></div>
            <transition name="pop">
                <div class="menu row center" v-if="windowWidth>580||menuOpen">
                    <div class="header_section row between center fs12">
                        <div><a @click="check" href="#">Главная</a></div>
                        <div><a href="#">Услуги</a></div>
                        <div><a href="#">Наши проекты</a></div>
                        <div><a href="#">О нас</a></div>
                    </div>
                    <div class="header_section_contacts  column center">
                        <div><a class=" bold600 fs12" href="tel:"><i class="fa fa-mobile-alt p5"></i>+9999999999999</a></div>
                        <div><a class=" bold600 fs12" href="mailto:"><i
                            class="far fa-envelope p5"></i>Siltnce_Studio@info.com</a></div>
                    </div>
                    <div class="shop row center">
                        <button @click="remove" class="no_border"><i class="fal fa-shopping-cart fs24"></i></button>
                        <span v-if="shopCount" style="position: absolute;color:white;background:#F44;border-radius:20px;width:15px;height:15px;font-size:10px;transform:translate(15px,-10px)">{{shopCount}}</span>
                    </div>
                    <div class="header_section_button center column">
                        <button class="p10"><i class="fal fa-comment-alt fs18 p5"></i>Обратная связь</button>
                    </div>
                </div>
            </transition>
            <button @click="menuOpen=!menuOpen" class="menu_button fs24 no_border"><i class="fal fa-bars"></i></button>

        </div>
        <div class="main" style="padding-top:100px">
            <div class="welcome column center">
                <div style="transform: translate(0,-50px)">
                    <span class="fs35 white bold500">Создаём красивые сайты</span>
                    <span class="fs24 white bold300 mt10 fade" style="opacity:0">Большой опыт и портфолио</span>
                </div>
                <div ref="meeting" class="down_button fade delay2 no_border" @click="$refs.meeting.scrollIntoView({behavior: 'smooth'})">
                    <span class="fs12 white bold300">Подробнее</span>
                    <br/>
                    <i class="fal fa-angle-down fs35 white slideup"></i>
                </div>

            </div>
            <div class="meeting_block row">
                <div class="meeting_block_section  column around center">
                    <div v-for="(tab,i) in tabs" :key="tab.title" :class="{active_tab:i===currentTab}" @click="currentTab=i" class="tab  fs10 column center  pointer">
                        <i class="fal fs35" :class="`fa-${tab.icon}`"></i>
                        <span>{{tab.title}}</span>
                    </div>
                </div>
                <div class="meeting_block_info column center white around">
                    <transition name="fade" mode="out-in">
                        <div key="0" v-if="currentTab===0">
                            <div class="row"><img class="slideup" src="assets/ svg_black/001-landing-page-2.svg">
                                <div class="p20">Сотни шаблонов для сайтов-визиток. Создай сайт-визитку за 5 минут! Подключение домена. Мобильная оптимизация. Дизайнерские шаблоны. Поддержка 24/7. Надежный хостинг. Дизайнерские логотипы. Откройте интернет-магазин. Персональный
                                    блог.
                                </div>

                            </div>
                            <div>
                                <button @click="add('one')" class="p20">добавить в корзину</button>
                            </div>
                        </div>
                        <div key="1" v-if="currentTab===1">
                            <div class="row">
                                <div class="p20">Сотни шаблонов для сайтов-визиток. Создай сайт-визитку за 5 минут! Подключение домена. Мобильная оптимизация. Дизайнерские шаблоны. Поддержка 24/7. Надежный хостинг. Дизайнерские логотипы. Откройте интернет-магазин. Персональный
                                    блог.
                                </div>
                                <img class="p20 bounce" src="assets/ svg_black/002-landing-page-1.svg">

                            </div>
                            <div>
                                <button @click="add('landing')" class="p20">добавить в корзину</button>
                            </div>
                        </div>
                        <div key="2" v-if="currentTab===2">
                            <div class="row"><img class="slidedown" src="assets/ svg_black/003-browser-1.svg">
                                <div class="p20">Сотни шаблонов для сайтов-визиток. Создай сайт-визитку за 5 минут! Подключение домена. Мобильная оптимизация. Дизайнерские шаблоны. Поддержка 24/7. Надежный хостинг. Дизайнерские логотипы. Откройте интернет-магазин. Персональный
                                    блог.
                                </div>

                            </div>
                            <div>
                                <button @click="add('many')" class="p20">добавить в корзину</button>
                            </div>
                        </div>
                        <div key="3" v-if="currentTab===3">
                            <div class="row">
                                <div class="p20">
                                    <div>Сотни шаблонов для сайтов-визиток. Создай сайт-визитку за 5 минут! Подключение домена. Мобильная оптимизация. Дизайнерские шаблоны. Поддержка 24/7. Надежный хостинг. Дизайнерские логотипы. Откройте интернет-магазин.
                                        Персональный блог.
                                    </div>
                                    <img class="bounce p20" src="assets/ svg_black/008-web-design.svg">


                                </div>
                            </div>
                            <div>
                                <button @click="add('shop')" class="p20">добавить в корзину</button>
                            </div>
                        </div>
                    </transition>






                </div>
            </div>
        </div>





        <div class="description_occupation  column center around" @click.self="steps.forEach(el=>el.active=false)">
            <span class="main_text fs35 bold500 center">Этапы работы</span>
            <div class="row center around" @click.self="steps.forEach(el=>el.active=false)" style="width:100%">
                <div v-for="step in steps" :key="step.title" @click="step.active=!step.active" :class="{flip:step.active}" class="descrition_tabs center column pointer">
                    <transition name="fade" mode="out-in">
                        <div class="column center" key="active" v-if="!step.active">
                            <img :src="step.icon">
                            <span>{{step.title}}</span>
                            <button class="p5 no_border">Подробнее</button>
                        </div>
                        <div v-else key="unactive" style="transform: scale(-1,1);font-size:10px;line-height:1.7;padding:10px">
                            {{step.description}}
                        </div>
                    </transition>
                </div>
            </div>

        </div>



        <div class="column center ">
            <span class="main_text fs35 bold500 mt50">Проектирование</span>
            <span class="submain_text fs24 mt10">Как оно происходит?</span>
            <div class="row center around mt25 project">
                <div class="column center project_block">
                    <i class="fal fa-diamond fs35"></i>
                    <span class="main_text mt25 fs35">Идея</span>
                    <span class="helper_text mt10">Все начинается с идеи. Я взаимодействую с клиентом и коллегами, чтобы воплотить идею в продуманное дизайнерское решение. В конце концов одно из самых важных частей сайта это продуманный пользовательский интерфейс.</span>
                </div>
                <div class="column center project_block">
                    <i class="fal fa-layer-group fs35"></i>
                    <span class="main_text mt25 fs35">UI/UX</span>
                    <span class="helper_text mt10">Все начинается с идеи. Я взаимодействую с клиентом и коллегами, чтобы воплотить идею в продуманное дизайнерское решение. В конце концов одно из самых важных частей сайта это продуманный пользовательский интерфейс.</span>
                </div>
                <div class="column center project_block">
                    <i class="fal fa-desktop fs35"></i>
                    <span class="main_text mt25 fs35">Идея</span>
                    <span class="helper_text mt10">Все начинается с идеи. Я взаимодействую с клиентом и коллегами, чтобы воплотить идею в продуманное дизайнерское решение. В конце концов одно из самых важных частей сайта это продуманный пользовательский интерфейс.</span>
                </div>


            </div>

        </div>

        <div class="website_builder column center p20">
            <span class="fs35 main_text white p50 bold500">Просчитайте результат</span>

            <div style="width: 100%;" class=" row around">
                <div class="website_inputs column center around">
                    <span class="white bold600 fs14">Придумай название</span>
                    <input class="website_input" v-model="siteName">
                    <span class="white bold600 fs14">Введи информация</span>
                    <input class="website_input" v-model=" titleName">
                    <span class="white bold600 fs14">Создать вам логотип?</span>
                    <div class="row center white no_border"><button class="fs24 no_border" style="margin:5px;" v-for="icon in icons" @click="activeIcon=icon"><i :class=" 'fal fa-'+icon"></i></button></div>
                    <span class="white bold600 fs14">Опции</span>
                    <div class="wrapper_checkbox row center around mt10">


                        <div class="column center"> <label>
                    <input class="website_checkbox" v-model="pagesOn" type="checkbox">
                    <i class="fal fa-copy"></i>
                    
                </label>
                            <span class="row white fs10 bold500" style="word-spacing: 2px;">Многостраничный</span>
                        </div>
                        <div class="column center">
                            <label>
                        <input class="website_checkbox" v-model="shopOn" type="checkbox">
                        <i class="fal fa-shopping-bag"></i>
                    </label>
                            <span class="row white fs10 bold500" style="word-spacing: 2px;">Коммерция</span>
                        </div>
                        <div class="column center">
                            <label>
                        <input class="website_checkbox" v-model="socialOn" type="checkbox">
                        <i class="fal fa-thumbs-up"></i>
                    </label>
                            <span class="row white fs10 bold500" style="word-spacing: 2px;">SEO/SMM</span>
                        </div>
                        <div class="column center">
                            <label>
                        <input class="website_checkbox" v-model="gradientOn" type="checkbox">
                        <i class="fal fa-paint-brush"></i>
                    </label>
                            <span class="row white fs10 bold500" style="word-spacing: 2px;">Дизайн</span>
                        </div>
                    </div>

                </div>

                <div class="website_main" :class="{gradient_website:gradientOn}">
                    <div class="website_header row p5 center between">
                        <div class="row">
                            <button class="red_dot"></button>
                            <button class="orange_dot"></button>
                            <button class="green_dot"></button>
                        </div>
                        <div class="website_search row center between fs12 white"><i class="fal fa-lock"></i>{{siteName.slice(0,20)}}.com<span @click="doRefresh" class="pointer"><i class="fal fa-redo"></i></span></div>
                        <div @click="websiteMiniTabs.push('Новая вкладка')" class="website_plus pointer"><i class="fal fa-plus white"></i></div>

                    </div>
                    <div :style="{height:pagesOn ? '20px' : '0px'}" class="website_tabs row">
                        <div v-for="tab in websiteMiniTabs.slice(0,5)" class="website_tab fs10 white row center">{{tab}}</div>

                    </div>
                    <div class="website_wrapper" :style="{opacity:refresh?0:1}">
                        <div class="website_wrapper_header row center between white">
                            <div style="width: 50px;"><i :class=" 'fal fa-'+activeIcon"></i></div>
                            <transition name="fade" mode="out-in">
                                <div style="width: 80px;" key="k" v-if="pagesOn">
                                    <i class="fad fa-grip-lines"></i>
                                    <i class="fad fa-grip-lines"></i>
                                    <i class="fad fa-grip-lines"></i>
                                </div>
                                <div key="f" v-else>
                                    {{siteName}}
                                </div>
                            </transition>


                            <div style="width: 40px;">
                                <transition name="fade"><i v-if="shopOn" class="fa fa-shopping-cart"></i></transition>
                            </div>
                        </div>

                    </div>
                    <div :style="{opacity:refresh?0:1}" class="website_wrapper_main column center white">
                        <div>{{titleName}}</div>

                    </div>
                    <div :style="{opacity:refresh?0:1}" class="white fs24 row between">
                        <div>
                            <transition name="fade"> <i v-if="socialOn" class="fal fa-globe p5"></i></transition>
                            <transition name="fade"><i v-if="socialOn" class="fab fa-facebook-f p5"></i></transition>
                            <transition name="fade"><i v-if="socialOn" class=" fab fa-instagram p5"></i></transition>
                            <transition name="fade"><i v-if="socialOn" class=" fab fa-google p5"></i></transition>



                        </div>

                        <div>
                            <transition name="fade"><i v-if="shopOn" class="fab fa-cc-mastercard p5"></i></transition>
                            <transition name="fade"><i v-if="shopOn" class="fab fa-cc-visa p5"></i></transition>
                            <transition name="fade"><i v-if="shopOn" class="fab fa-cc-apple-pay p5"></i></transition>
                        </div>
                    </div>


                </div>
                <div class="column center p10  between feedback_wrapper">
                    <div>
                        <span class="white bold600 fs14 mt10">Ваши пожелания</span>
                        <div class=""><textarea placeholder="Опишите ваш проект" class="website_input mt10"></textarea></div>
                        <span class="white bold600 fs14 mt10">Контактная информация</span>
                        <input type="text" class="website_input mt10" placeholder="Введите ваши контакты ">
                    </div>
                    <span class="white bold700 fs24 mt10">~ 350 USD</span>
                    <button class="p20 white">Отправизть заявку</button>
                </div>
            </div>

        </div>




        <div class="column center">
            <span class="bold500 main_text fs35 mt50">Наши работы</span>
            <div class="work_partners row wrap center">

                <div class=" column center ">

                    <div class=" row center">
                        <div class="desktop_wrapper"><img class="desktop" src="assets/macbook_PNG59.png">
                            <img class="desktop_screen" src="assets/screenshots/autocash desc.png"></div>
                        <div class="mobile_wrapper"><img class="mobile" src="assets/X.png">
                            <img class="mobile_screen" src="assets/screenshots/autocash mob.png"></div>
                    </div>
                    <span class="fs14 bold500 main_text">Autocash</span>
                    <span class="fs12 bold300 submain_text mt10">Сайт по продаже авто продукции</span>
                    <button class="fs12 main_text bold500 mt10">Посмотреть<i class="fal fa-arrow-up"></i></button>


                </div>
                <div class="column center ">
                    <div class="row center">
                        <div class="desktop_wrapper"><img class="desktop" src="assets/macbook_PNG59.png">
                            <img class="desktop_screen" src="assets/screenshots/azara des.png"></div>
                        <div class="mobile_wrapper"><img class="mobile" src="assets/X.png">
                            <img class="mobile_screen" src="assets/screenshots/azara mob.png"></div>

                    </div>
                    <span class="fs14 bold500 main_text">AZARA</span>
                    <span class="fs12 bold300 submain_text mt10">Онлайн кошелек криптовалют</span>
                    <button class="fs12 main_text bold500 mt10">Посмотреть<i class="fal fa-arrow-up"></i></button>

                </div>
                <div class="column center">
                    <div class="row center">
                        <div class="desktop_wrapper"><img class="desktop" src="assets/macbook_PNG59.png">
                            <img class="desktop_screen" src="assets/screenshots/boxex des.png"></div>
                        <div class="mobile_wrapper"><img class="mobile" src="assets/X.png">
                            <img class="mobile_screen" src="assets/screenshots/boxex mob.png"></div>

                    </div>
                    <span class="fs14 bold500 main_text">Boxexchanger</span>
                    <span class="fs12 bold300 submain_text mt10">Онлайн обменник криптовалют</span>
                    <button class="fs12 main_text bold500 mt10">Посмотреть<i class="fal fa-arrow-up"></i></button>

                </div>
                <div class="column center">
                    <div class="row center">
                        <div class="desktop_wrapper"><img class="desktop" src="assets/macbook_PNG59.png">
                            <img class="desktop_screen" src="assets/screenshots/pedro des.png"></div>
                        <div class="mobile_wrapper"><img class="mobile" src="assets/X.png">
                            <img class="mobile_screen" src="assets/screenshots/pedro mob.png"></div>

                    </div>
                    <span class="fs14 bold500 main_text">AZARA</span>
                    <span class="fs12 bold300 submain_text mt10">Онлайн кошелек криптовалют</span>
                    <button class="fs12 main_text bold500 mt10">Посмотреть<i class="fal fa-arrow-up"></i></button>

                </div>
                <div class="column center">
                    <div class="row center">
                        <div class="desktop_wrapper"><img class="desktop" src="assets/macbook_PNG59.png">
                            <img class="desktop_screen" src="assets/screenshots/wedding des.png"></div>
                        <div class="mobile_wrapper"><img class="mobile" src="assets/X.png">
                            <img class="mobile_screen" src="assets/screenshots/wedding mob.png"></div>

                    </div>
                    <span class="fs14 bold500 main_text">AZARA</span>
                    <span class="fs12 bold300 submain_text mt10">Онлайн кошелек криптовалют</span>
                    <button class="fs12 main_text bold500 mt10">Посмотреть<i class="fal fa-arrow-up"></i></button>

                </div>
            </div>
        </div>





        <div class=" about_specialists column center p50 ">
            <span class="main_text fs35 bold500 center mt50 ">Наши специалисты</span>
            <div class="wrapper_specialists row center mt50 ">
                <div class="specialists ">
                    <img src="assets/svg_consultation/007-talking.svg ">
                </div>
                <div class="specialist_info row center ">
                    Какой бы курс вы ни выбрали, вам будет нужно много работать. Не только на занятиях, но и дома. Это все необходимо, чтобы после обучения у вас был не только сертификат, но и готовый проект (а если постараться, то даже не один), который можно будет включить
                    в свое резюме. Основное преимущество нашего центра — в реальном опыте работы. Мы создали сотни сайтов и точно знаем о нюансах, которые могут возникнуть в процессе разработки. Все, чему учим на курсах, используем каждый день.
                </div>
            </div>
            <div class="wrapper_specialists row center reverse ">
                <div class="specialist_info ">Какой бы курс вы ни выбрали, вам будет нужно много работать. Не только на занятиях, но и дома. Это все необходимо, чтобы после обучения у вас был не только сертификат, но и готовый проект (а если постараться, то даже не один), который
                    можно будет включить в свое резюме. Основное преимущество нашего центра — в реальном опыте работы. Мы создали сотни сайтов и точно знаем о нюансах, которые могут возникнуть в процессе разработки. Все, чему учим на курсах, используем
                    каждый день.

                </div>
                <div class="specialists "><img src="assets/svg_development/002-gamer.svg "></div>

            </div>
            <div class="wrapper_specialists row center ">
                <div class="specialists "><img src="assets/svg_promotion/006-advertisement.svg "></div>
                <div class="specialist_info ">Какой бы курс вы ни выбрали, вам будет нужно много работать. Не только на занятиях, но и дома. Это все необходимо, чтобы после обучения у вас был не только сертификат, но и готовый проект (а если постараться, то даже не один), который
                    можно будет включить в свое резюме. Основное преимущество нашего центра — в реальном опыте работы. Мы создали сотни сайтов и точно знаем о нюансах, которые могут возникнуть в процессе разработки. Все, чему учим на курсах, используем
                    каждый день.</div>
            </div>
        </div>





        <div class="advantages row around ">

            <div class="advantages_info column center around white ">
                <div class="move_icons fs24 ">
                    <div class="moveright duration2x ">Скорость</div>
                    <div class="icons ">
                        <i class="fal fa-tachometer-fast delay2x moveright "></i>
                        <i class="fal fa-rabbit-fast moveright left-5 "></i>
                        <i class="fal fa-rocket-launch delay2x moveright "></i>
                        <i class="fal fa-shipping-fast moveright "></i>
                    </div>
                </div>
                <div class="move_icons fs24 ">
                    <div class="moveleft duration2x ">Качество</div>
                    <!-- <div class="icons ">
                        <i class="fal fa-gem delay2x moveleft top11 "></i>
                        <i class="fal fa-diamond moveleft top20 "></i>
                        <i class="fal fa-thumbs-up delay2x moveleft left33 "></i>
                        <i class="fal fa-gem moveleft right15 "></i>
                    </div> -->
                </div>
                <div class="move_icons fs24 ">
                    <div class="moverightup duration2x ">Цена</div>
                    <!-- <div style="width: 100px; " class="icons row wrap ">
                        <i class="fal fa-tags delay2x moverightup "></i>
                        <i class="fal fa-hand-holding-usd moverightup "></i>
                        <i class="fal fa-money-bill moverightup "></i>
                    </div> -->
                </div>
            </div>
            <div class="avantages_main column center fs35 bold500 white duration2x moverightdown ">Наши достойнства</div>
            <div class="advantages_info column center around white ">
                <div class="move_icons fs24 ">
                    <div class="moveleftup duration2x ">Мультиязычность</div>
                    <!-- <div style="width: 100px; " class="icons row wrap ">
                        <i class="fal fa-language delay2x moveleft "></i>
                        <i class="fal fa-globe-europe moveleft "></i>
                        <i class="fal fa-handshake delay2x moveleft "></i>
                        <i class="fal fa-book moveleft "></i>
                    </div> -->
                </div>
                <div class="move_icons fs24 ">
                    <div class="moveleftup duration2x ">Опыт</div>
                    <!-- <div style="width: 100px; " class="icons row wrap ">
                        <i class="fal fa-fist-raised delay2x moverightup "></i>
                        <i class="fal fa-user-visor moverightup "></i>
                        <i class="fal fa-journal-whills delay2x moverightup "></i>
                        <i class="fal fa-infinity moverightup "></i>
                    </div> -->

                </div>
                <div class="move_icons fs24 ">
                    <div class="moveleftup duration2x ">Индивидуальный подход</div>
                    <!-- <div style="width: 100px; " class="icons row wrap ">
                        <i class="fal fa-user-friends delay2x moveleft "></i>
                        <i class="fal fa-comments moveleft "></i>
                        <i class="fal fa-people-arrows delay2x moveleft "></i>
                        <i class="fal fa-user-headset moveleft "></i>
                    </div> -->
                </div>
            </div>




        </div>








        <div class="footer row ">
            <div class="footer_logo column center pointer ">
                <i class="fab fa-apple fs35 "></i>
                <span class="p20 bold700 ">SilenceGroup</span>
            </div>



            <div class="central_footer column center around main_text bold500 ">
                <div>
                    <a href="# ">Главная</a>
                </div>
                <div>
                    <a href="# ">Услуги</a>
                </div>
                <div>
                    <a href="# ">Наши проекты</a>
                </div>
                <div>
                    <a href="# ">О нас</a>
                </div>
            </div>

            <div class="footer_rightside column center ">
                <div class="contacts column center around helper_text lh2 ">
                    <div class="bold300 main_text ">Наши контакты</div>
                    <div class="footer_social ">+8583582852395 <i class="fa fa-mobile-alt "></i><i class="fab fa-viber "></i>
                        <i class="fab fa-telegram "></i>
                        <i class="fab fa-whatsapp "></i></div>
                    <div class="footer_social ">+8583582852395<i class="fab fa-viber "></i>
                        <i class="fab fa-telegram "></i></div>
                    <div class="footer_social ">info@SilenceStudio.com <i class="fa fa-envelope "></i></div>
                    <div class="fs12 ">ООО SilenceStudio</div>
                    <div class="fs12 ">Республика Беларусь Г.Минск Ул.Есенина 20 к.4</div>
                </div>
                <div class="footer_social row center around fs24 main_text ">
                    <i class="fab fa-instagram "></i>
                    <i class="fab fa-facebook-f "></i>
                    <i class="fab fa-viber "></i>
                    <i class="fab fa-telegram "></i>
                    <i class="fab fa-whatsapp "></i>
                </div>




            </div>
            <div class="column center end fs10 helper_text ">
                <div class="row center footer_social fs35 ">
                    <i class="fab fa-cc-visa "></i>
                    <i class="fab fa-cc-mastercard "></i>
                    <i class="fab fa-yandex "></i>
                    <i class="fab fa-bitcoin "></i>
                </div>
                copyright SilenceGroup &copy; 2014-2020
            </div>



        </div>
    </div>
    <script src="script.js "></script>
</body>

</html>