body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}


/* Вспомогательные классы*/

.fa {
    text-rendering: optimizeLegibility;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row,
.column {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.main_text {
    color: #333;
}

.submain_text {
    color: #888;
}

.helper_text {
    color: #CCC;
}

.lh2 {
    line-height: 2;
}

.fs20 {
    font-size: 20px;
}

.fs14 {
    font-size: 14px;
}

.fs12 {
    font-size: 12px;
}

.fs10 {
    font-size: 10px;
}

.fs18 {
    font-size: 18px;
}

.fs24 {
    font-size: 24px;
}

.fs35 {
    font-size: 35px;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt100 {
    margin-top: 100px;
}


/* Вспомогательные классы*/


/* Link */

a {
    text-decoration: none;
    color:inherit;
}
button{
    color: inherit;
}

button {
    border: 2px solid white;
    border-radius: 10px;
    transition: all .2s;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0px;
}


/* Link */


/* Хэдер */

.header {
    background-color: transparent;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
    transition: all .2s ease-in;
}
.white_header{
    background:#EEE;
    color:#333;
}

.logo {
    width: 15%;
}

.header_section {
    width: 40%;
}

.header_section_contacts {
    width: 15%;
}

.header_section_button {
    width: 25%;
}


/* Хэдер */


/* встречающийся бллок */

.meeting_block {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    height: 600px;
    width: 100%;
}

.meeting_block_section {
    width: 30%;
}

.tab {
    width: 110px;
    height: 110px;
    border-radius: 30%;
    background-color: rgba(50,50,50,0.2);
    transition: all .15s .0s ease;
    color:#EEE;
    border:1px solid transparent;
}

.tab:hover {
    background-color: rgba(50,50,50,0.5);
    transform: scale(1.07);
    box-shadow: 1px 1px 12px rgba(0,0,0,0.1);
    color:#FFF;
}
.fade-enter-active, .fade-leave-active {
    transition: all .3s ease;
  }
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translate(-100px,0px);
  }
.active_tab{
    background-color: rgba(50,50,50,0.5);
    transform: scale(1.07);
    border-radius: 35%;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.15);
    color:#FFF;
    border:1px solid rgba(200,200,200,0.3)
}

.meeting_block_info {
    width: 70%;
}

.meeting_block_info img {
    width: 100px;
}


/* встречающийся бллок */


/* этапы работы */

.description_occupation {
    height: 600px;
    border: 1px solid black;
    background-color: lightskyblue;
}

.descrition_tabs {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-color: white;
}

.description_occupation img {
    width: 100px;
}


/* этапы работы */


/* конструктор сайта  */

.website_builder {
    height: 400px;
    border: 1px solid black;
    background-color: lightgreen;
}


/* конструктор сайта  */


/* Партнеры ,слайдер */

.work_partners {
    height: 500px;
    border: 1px solid black;
    background-color: lightgray;
}


/* Партнеры ,слайдер */


/* Команда */

.about_specialists {
    border: 1px solid black;
    background-color: olivedrab;
}

.wrapper_specialists {
    height: 300px;
    border: 1px solid black;
    background-color: rosybrown;
    color: auto;
}

.specialists {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    background-color: rosybrown;
}

.specialist_info {
    width: 60%;
    height: 300px;
    border: 1px solid black;
    background-color: salmon;
}


/* Команда */


/* наши достоинства */

.advantages {
    height: 300px;
    border: 1px solid black;
    background-color: beige;
}

.advantages_circle {
    background-color: cornflowerblue;
    border-radius: 100%;
    height: 200px;
    border: 1px solid black;
}


/* наши достоинства */


/* Feedback */

.feedback {
    height: 500px;
    border: 1px solid black;
}

.feedback_info {
    background-color: forestgreen;
    width: 50%;
    height: 500px;
}

.feedback_form {
    width: 50%;
    background-color: gainsboro;
    height: 500px;
}


/* Feedback */


/* Footer */

.footer {
    height: 250px;
    background-color: goldenrod;
}

.footer_logo {
    width: 20%;
    background-color: black;
    height: 250px;
}

.central_footer {
    width: 40%;
    background-color: lavender;
    height: 250px;
}

.footer_rightside {
    width: 40%;
    background-color: palevioletred;
    height: 250px;
}
.bounce{
    animation: bounce 2s .1s ease infinite alternate-reverse;
}
.slideup{
    animation: slideup 2s .1s ease infinite alternate-reverse;
}
.slidedown{
    animation: slidedown 2s .1s ease infinite alternate-reverse;
}
@keyframes bounce {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}
@keyframes slideup {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(0,-10px);
    }
}
@keyframes slidedown {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(0,10px);
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Footer */