body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


/* Вспомогательные классы*/

.fa {
    text-rendering: optimizeLegibility;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row,
.column {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.end {
    justify-content: flex-end;
}

.pointer {
    cursor: pointer;
}

.main_text {
    color: #333;
}

.submain_text {
    color: #888;
}

.helper_text {
    color: #CCC;
}

.lh2 {
    line-height: 2;
}

.fs20 {
    font-size: 20px;
}

.fs14 {
    font-size: 14px;
}

.fs12 {
    font-size: 12px;
}

.fs10 {
    font-size: 10px;
}

.fs18 {
    font-size: 18px;
}

.fs24 {
    font-size: 24px;
}

.fs35 {
    font-size: 35px;
}

.bold {
    font-weight: bold;
}

.bold100 {
    font-weight: 100;
}

.bold200 {
    font-weight: 200;
}

.bold300 {
    font-weight: 300;
}

.bold400 {
    font-weight: 400;
}

.bold500 {
    font-weight: 500;
}

.bold600 {
    font-weight: 600;
}

.bold700 {
    font-weight: 700;
}

.bold800 {
    font-weight: 800;
}

.bold900 {
    font-weight: 900;
}

.white {
    color: white;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p50 {
    padding: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt100 {
    margin-top: 100px;
}


/* Вспомогательные классы*/


/* Link */

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all .2s ease;
}

a:hover {
    border-bottom: 2px solid rgba(245, 245, 245, 0.3)
}

button {
    color: inherit;
}

button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all .3s;
    background-color: transparent;
}

button:hover,
button:active {
    cursor: pointer;
    box-shadow: inset 0 0 0 3em white;
    color: #333;
}

button:active {
    transform: scale(1.05);
}

button:focus {
    outline: 0px;
}

.no_border {
    border: 1px solid transparent;
}


/* Link */


/* Хэдер */

.header {
    background-color: transparent;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
    transition: all .2s ease-in;
}

.white_header {
    background: #EEE;
    color: #333;
}

.logo {
    width: 15%;
}

.menu {
    width: 80%;
    justify-content: space-between;
}

.header_section {
    width: 50%;
}

.header_section_contacts {
    width: 20%;
}

.header_section_button {
    width: 20%;
}

.menu_button {
    display: none;
}


/* Хэдер */


/* встречающийся бллок */

.main {
    background: linear-gradient(-45deg, #88ff52, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

.welcome {
    height: 90vh;
}

.up {
    animation: up 1s .1s ease-out forwards;
}

.fade {
    animation: fade 1s 1s ease forwards;
}

.delay2 {
    animation-delay: 2s;
}

.down_button {
    position: relative;
    top: 30vh;
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.meeting_block {
    height: 600px;
    width: 100%;
}

.meeting_block_section {
    width: 30%;
}

.tab {
    width: 110px;
    height: 110px;
    border-radius: 30%;
    background-color: rgba(50, 50, 50, 0.2);
    transition: all .2s .0s ease;
    color: #EEE;
    border: 1px solid transparent;
}

.tab span {
    margin: 5px;
}

.tab:hover {
    /* background-color: rgba(50, 50, 50, 0.5); */
    transform: scale(1.07);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1), inset 0 0 0 6em rgba(50, 50, 50, 0.2);
    color: #FFF;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translate(-100px, 0px);
}

.pop-enter-active,
.pop-leave-active {
    transition: all .3s ease-out;
}

.pop-enter,
.pop-leave-to {
    opacity: 0;
    transform: translate(0px, -100px);
}

.active_tab {
    transform: scale(1.07);
    border-radius: 35%;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1), inset 0 0 0 6em rgba(50, 50, 50, 0.2);
    color: #FFF;
    border: 1px solid rgba(200, 200, 200, 0.3)
}

.meeting_block_info {
    width: 70%;
}

.meeting_block_info img {
    width: 100px;
}


/* встречающийся бллок */


/* этапы работы */

.description_occupation {
    background: #98aafa67;
    min-height: 500px;
    width: 100%;
}

.descrition_tabs {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    /* background-color: white; */
    transition: all .3s ease;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    color: #333;
}

.flip {
    transform: scale(-1.1, 1.1);
    box-shadow: 1px 5px 7px rgba(22, 12, 12, 0.1), inset 0 0 0 7em rgba(230, 230, 250, 0.2);
}

.description_occupation img {
    width: 100px;
}

.project {}

.project_block {
    width: 25%;
    margin: 25px;
}

.project_block>i {
    font-size: 100px;
    color: #ffe08c;
}


/* этапы работы */


/* конструктор сайта  */


/* конструктор сайта  */


/* Партнеры ,слайдер */

.work_partners {
    height: 500px;
    border: 1px solid black;
    background-color: lightgray;
}


/* Партнеры ,слайдер */


/* Команда */

.about_specialists {
    border: 1px solid black;
    background-color: olivedrab;
}

.wrapper_specialists {
    height: 300px;
    border: 1px solid black;
    background-color: rosybrown;
    color: auto;
}

.specialists {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    background-color: rosybrown;
}

.specialist_info {
    width: 60%;
    height: 300px;
    border: 1px solid black;
    background-color: salmon;
}


/* Команда */


/* наши достоинства */

.advantages {
    height: 300px;
    border: 1px solid black;
    background-color: beige;
}

.advantages_circle {
    background-color: cornflowerblue;
    border-radius: 100%;
    height: 200px;
    border: 1px solid black;
}


/* наши достоинства */


/* конструктор */

.website_builder {
    background: linear-gradient(95deg, #ce5784 10%, #23a6d5 90%);
    background-size: 100% 200%;
    transition: all .3s ease-in-out;
}

.website_inputs {
    width: 50%;
}

.website_main {
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.gradient_website {
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

.website_header {
    height: 20px;
    background-color: gray;
}

.website_header button {
    border-radius: 100%;
    height: 10px;
    width: 10px;
    padding: 0px;
    margin: 2px;
}

.red_dot {
    background: red;
}

.orange_dot {
    background: orange;
}

.green_dot {
    background: green;
}

.website_search {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 2px 5px;
}

.website_wrapper_header {
    height: 20px;
    border-bottom: 1px solid rgba(240, 240, 240, 0.5);
    padding: 5px 10px;
}

.website_wrapper_main {
    min-height: 280px;
}

.website_tabs {
    height: 20px;
    transition: all .3s ease;
    overflow: hidden;
}

.website_tab {
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(150, 150, 150, 1);
}

.website_input {
    border-radius: 20px;
    border: 1px solid transparent;
    width: 300px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    text-align: center;
}

.website_input:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, .6);
}

.website_input:focus {
    outline: 0;
    border: 1px solid rgba(255, 255, 255, .7)
}

label input {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.05));
    border: 2px solid #222;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

label i {
    position: absolute;
    color: #222;
    font-size: 20px;
    transition: 0.2s;
    opacity: 0;
}

label input:checked+i {
    color: white;
    opacity: 1;
}

label input:checked {
    /* background: #23a6d5; */
    border-color: rgba(255, 255, 255, .6);
}


/* Feedback */

.feedback {
    height: 500px;
    border: 1px solid black;
}

.feedback_info {
    background-color: forestgreen;
    width: 50%;
    height: 500px;
}

.feedback_form {
    width: 50%;
    background-color: gainsboro;
    height: 500px;
}


/* Feedback */


/* Footer */

.footer {
    height: 250px;
    background-color: goldenrod;
}

.footer_logo {
    width: 20%;
    background-color: black;
    height: 250px;
}

.central_footer {
    width: 40%;
    background-color: lavender;
    height: 250px;
}

.footer_rightside {
    width: 40%;
    background-color: palevioletred;
    height: 250px;
}

.bounce {
    animation: bounce 2s .1s ease infinite alternate-reverse;
}

.slideup {
    animation: slideup 2s .1s ease infinite alternate-reverse;
}

.slidedown {
    animation: slidedown 2s .1s ease infinite alternate-reverse;
}

@media screen and (max-width:580px) {
    .meeting_block.row {
        flex-direction: column;
    }
    .meeting_block_section.column {
        flex-direction: row;
        width: 100%;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        padding: 20px;
        background: rgba(0, 0, 0, .6);
        border-radius: 5px;
        top: 50px;
        width: auto;
        right: 10px;
        color: white !important;
    }
    .header_section,
    .header_section_contacts,
    .header_section_button {
        flex-direction: column;
        width: 100%;
    }
    .header_section>div,
    .header_section_contacts>div {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
    }
    .header_section>div:active,
    .header_section_contacts>div:active {
        cursor: pointer;
        transition: all .3s ease;
        box-shadow: inset 0 0 0 3em white;
        color: #333;
    }
    .menu_button {
        display: block;
    }
    .shop {
        margin: 20px;
    }
    .header.between {
        justify-content: space-around;
        height: 50px;
    }
    .down_button {
        top: 23vh;
    }
    .tab {
        width: 70px;
        height: 70px;
        font-size: 7px;
    }
    .tab i {
        font-size: 15px;
    }
    .meeting_block_info {
        width: 100%;
    }
    .meeting_block_info .row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }
    .description_occupation>div {
        flex-direction: column;
    }
    .description_occupation>span {
        margin: 25px;
    }
    .descrition_tabs {
        margin: 25px;
    }
    .row.project {
        flex-direction: column;
    }
    .project_block {
        width: 90%;
    }
    .website_builder>.row {
        flex-direction: column;
        align-items: center;
    }
    .website_main {
        width: 100%;
        margin-top: 10px;
    }
    .website_inputs>span {
        margin-top: 10px
    }
}

@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

@keyframes slideup {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(0, -10px);
    }
}

@keyframes slidedown {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(0, 10px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes up {
    to {
        transform: translate(0, -50px);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Footer */